In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from final.solution import cast_line_elements

In [2]:
# FIN = "data/01_head100.txt"
FIN = "data/01"
with open(FIN, "r") as fin:
    lines= fin.readlines()

# subset of rows to fit into memory
lines = lines[:50000]

Extract the number of targets, categoricals and floats

In [20]:

T, C, F = cast_line_elements(lines[0], int)
cols_t = [f"T{i}" for i in range(T)]
cols_c = [f"C{i}" for i in range(C)]
cols_f = [f"F{i}" for i in range(F)]

Transform the data into a dataframe casting appropreate types

In [28]:
df = pd.Series(lines[5:]).map(lambda s: s.strip().split()).apply(pd.Series)
df.columns = cols_t + cols_c + cols_f
# every 10'000-th row is just a separator and will lead to weird rows in DF
df = df.dropna()
# ensure proper types
dtypes = {col: np.uint16 for col in cols_c+cols_t}
dtypes.update({col: np.float32 for col in cols_f})
df = df.astype(dtypes)

# separation of targets and features
X = df.iloc[:,T:]
y = df.iloc[:,:T]

In [36]:
for i in range(C):
    display(df.groupby(f"C{i}")[cols_t].mean())

          T0        T1        T2
C0
0   0.004276  0.023001  0.007386
1   0.014580  0.000087  0.000000
2   0.012598  0.000188  0.000846
3   0.000000  0.000095  0.000191
4   0.003185  0.000000  0.000000
5   0.004348  0.000000  0.004348
6   0.000000  0.000000  0.000000
7   0.000000  0.000000  0.000000
8   0.000000  0.000000  0.000000
9   0.000000  0.000000  0.000000
10  0.000000  0.000000  0.000000
11  0.000000  0.000000  0.000000
12  0.000000  0.000000  0.000000
13  0.000000  0.000000  0.000000

          T0        T1        T2
C1
0   0.002866  0.001720  0.000764
1   0.000198  0.007334  0.008722
2   0.000158  0.000633  0.000158
3   0.041758  0.001852  0.000000
4   0.002836  0.089685  0.000000
5   0.010753  0.000000  0.000000
6   0.002187  0.001093  0.000000
7   0.005427  0.003947  0.003947
8   0.001258  0.002516  0.066667
9   0.008172  0.000000  0.002043
10  0.000000  0.000000  0.000000
11  0.000000  0.010274  0.003425
12  0.000000  0.000000  0.000000
13  0.000000  0.054645  0.000000
14  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000
16  0.000000  0.008929  0.000000
17  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.003521
19  0.000000  0.000000  0.000000
20  0.000000  0.000000  0.000000
21  0.007407  0.000000  0.000000
22  0.000000  0.000000  0.059524
23  0.000000  0.000000  0.000000
24  0.200000  0.000000  0.000000

          T0        T1        T2
C2
0   0.008921  0.004895  0.002882
1   0.000295  0.030669  0.000295
2   0.010643  0.000000  0.002082
3   0.000000  0.014548  0.015587
4   0.000000  0.000499  0.001498
..       ...       ...       ...
60  0.000000  0.000000  0.000000
62  0.000000  0.000000  0.000000
63  0.000000  0.000000  0.000000
64  0.000000  0.000000  0.000000
67  0.000000  0.000000  0.000000

[65 rows x 3 columns]

          T0        T1        T2
C3
0   0.005582  0.004967  0.001041
1   0.009478  0.010002  0.003823
2   0.007483  0.007143  0.003628
3   0.006410  0.000000  0.000000